openapi: 3.1.0
info:
  title: CodeLedger Auth & Utility Worker API
  description: |
    Cloudflare Worker API used by CodeLedger for OAuth, GitHub App operations,
    canonical map hosting, and webhooks. Keep this spec in sync with
    `worker/src/index.js` (the worker is the source of truth for routes).
  version: 1.0.1

servers:
  - url: https://codeledger.vkrishna04.me
    description: Production (worker mounted at root; API paths start with `/api`)
  - url: https://codeledger.vkrishna04.me/api
    description: Production API base (convenience entry; same host)
  - url: http://localhost:8787
    description: Local development worker (run with `wrangler dev`)

tags:
  - name: health
    description: Health and monitoring endpoints
  - name: auth
    description: OAuth flows and callbacks
  - name: app
    description: GitHub App related endpoints (requires App JWT)
  - name: webhook
    description: Incoming webhook receivers
  - name: data
    description: Canonical map hosting and admin endpoints
  - name: misc
    description: Miscellaneous routes (favicon, static assets)

paths:
  /api/health:
    get:
      tags: [health]
      summary: Health check
      description: Returns a minimal JSON health payload for uptime monitoring.
      responses:
        "200":
          description: Health payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /api/app/installations:
    get:
      tags: [app]
      summary: List GitHub App installations
      description: Returns a list of installations for the configured GitHub App. Requires App JWT.
      security:
        - app_jwt: []
      responses:
        "200":
          description: Array of installation objects (proxied from GitHub)
          content:
            application/json: {}

  /api/app/installations/{id}/access_tokens:
    post:
      tags: [app]
      summary: Create an installation access token
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      security:
        - app_jwt: []
      responses:
        "201":
          description: Installation access token created (proxied from GitHub)
          content:
            application/json: {}

  /api/auth/{provider}:
    get:
      tags: [auth]
      summary: Initiate OAuth flow
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [github]
      responses:
        "302":
          description: Redirect to provider authorization URL

  /api/auth/{provider}/callback:
    get:
      tags: [auth]
      summary: OAuth callback receiver
      description: Returns an HTML page that posts a `CODELEDGER_AUTH` message to the opener window.
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [github]
        - in: query
          name: code
          schema:
            type: string
        - in: query
          name: error
          schema:
            type: string
        - in: query
          name: error_description
          schema:
            type: string
      responses:
        "200":
          description: HTML page which posts the token back to the opener window
          content:
            text/html:
              schema:
                type: string

  /api/webhook/github:
    post:
      tags: [webhook]
      summary: GitHub webhook receiver
      description: Verifies `x-hub-signature-256` header when configured, then processes webhook payloads.
      parameters:
        - in: header
          name: x-hub-signature-256
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json: {}
      responses:
        "200":
          description: Webhook processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OKResponse'

  /api/data/canonical-map.json:
    get:
      tags: [data]
      summary: Canonical map (public)
      description: Returns the canonical map JSON from KV when available, otherwise a raw GitHub fallback.
      responses:
        "200":
          description: Canonical map JSON
          content:
            application/json: {}
        "503":
          description: Canonical map unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/admin/canonical:
    post:
      tags: [data]
      summary: Admin: replace canonical map
      description: Requires a bearer token matching the `CANONICAL_UPLOAD_TOKEN` binding. Stores the posted body into KV at key `canonical-map`.
      security:
        - canonical_token: []
      requestBody:
        required: true
        content:
          text/plain: {}
      responses:
        "200":
          description: Update accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OKResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/post_install:
    get:
      tags: [misc]
      summary: Post-install redirect (GitHub App marketplace)
      parameters:
        - in: query
          name: installation_id
          schema:
            type: string
        - in: query
          name: setup_action
          schema:
            type: string
      responses:
        "302":
          description: Redirect to root with query parameters

  /favicon.ico:
    get:
      tags: [misc]
      summary: Favicon redirect
      responses:
        "301":
          description: Redirect to extension icon URL

components:
  securitySchemes:
    app_jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
    canonical_token:
      type: apiKey
      in: header
      name: Authorization
      description: Bearer token that must match `CANONICAL_UPLOAD_TOKEN` binding on the worker.
  schemas:
    HealthResponse:
      type: object
      properties:
        ok:
          type: boolean
        version:
          type: string
        ts:
          type: number
      required: [ok, version, ts]
    OKResponse:
      type: object
      properties:
        ok:
          type: boolean
      required: [ok]
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
      required: [error]

x-extension-urls:
  description: |
    Browser extension internal URL params (library.html page, not HTTP endpoints).
    All params use window.history.replaceState — no page reload occurs on change.
  base: chrome-extension://{ext-id}/library/library.html
  params:
    tab:
      values: [solutions, analytics, graph, ai-chats, canonical, settings, search]
      description: Active top-level view
    settingsTab:
      values: [general, ai, git, platforms, backups, advanced]
      description: Active settings panel tab (only when tab=settings)
    problem:
      format: "{platformCode}-{titleSlug}"
      example: "lc-two-sum"
      description: Open ProblemModal for this problem id
    q:
      description: Search query (solutions view)
    difficulty:
      values: [Easy, Medium, Hard]
      description: Difficulty filter (solutions view)
    platform:
      values: [leetcode, geeksforgeeks, codeforces]
      description: Platform filter (solutions view)
    language:
      description: Language filter, matches lang.name (solutions view)
    sort:
      values: [newest, oldest, diff-asc, diff-desc, title, platform, tags]
      description: Sort order (solutions view)
    tag:
      description: Tag/topic filter (solutions view)
    section:
      values: [difficulty, language, platform, topic]
      description: Open analytics drill-down panel (only when tab=analytics)
    sectionFilter:
      description: Value for the section filter, e.g. "Python" or "Hard"
    graphLayout:
      values: [layered, circular, force]
      description: Graph layout mode (only when tab=graph)
  examples:
    - url: "library.html?tab=settings&settingsTab=git"
      description: Open settings directly on the Git tab
    - url: "library.html?tab=solutions&difficulty=Hard&platform=leetcode"
      description: Solutions filtered to hard LeetCode problems
    - url: "library.html?tab=solutions&problem=lc-two-sum"
      description: Open Two Sum modal (LeetCode)
    - url: "library.html?tab=analytics&section=language&sectionFilter=Python"
      description: Analytics with Python drill-down panel open
    - url: "library.html?tab=graph&graphLayout=force&problem=lc-two-sum"
      description: Graph in force layout with Two Sum modal open
